* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

.wrap {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.goodsContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}
.element{
    height: 360px;
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
    border-radius: 22px;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    width: 100%;
    display: flex;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    background-color: #333;
    color: #ffff;
}

.logo {
    font-weight: 900;
}

#send {
    display: flex;
    align-items: center;
    font-size: 20px;
}

#send span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: red;
    color: #fff;
    border-radius: 50%;
    position: relative;
    top: -20px;
}
.flexC{
    display: flex;
    justify-content: space-around;
}
.cardPng{
    height: 290px;
    width: 290px;
    object-fit: cover;
}
.cartList{
    display: flex;
    flex-direction: column;
    opacity: 0.9;
    align-items: center;
    justify-content: center;
    position: relative;
}